* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #111;
  font-family: 'Comfortaa', cursive;
}
h1 {
  color: #fafafa;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 60%;
  font-size: 5em;
  cursor: default;
  /* thx stack overflow */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}
h3 {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 5px;
  font-size: 2.5em;
  cursor: default;
  /* thx stack overflow */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}
a {
  color: #444;
  transition: all 0.5s;
  text-decoration: none;
}
a:hover {
  color: #fafafa;
}
.code {
  font-family: 'Share Tech Mono', monospace;
}
