@import '_vars';

.col {
  transition: all 0.2s;
  cursor: default;
  padding: 8px;

  img {
    width: 90%;
    border-radius: 3px;
    margin-top: 16px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }

  img.half {
    margin-top: 0;
    width: 49%;
    display: inline-block;
  }

  p {
    line-height: 1.2em !important;
  }
}

.col:hover {
  transform: scale(1.01);
  background-color: $bg-dark;
}
