body {
  margin: 0;
  padding: 2px 0 0 0;
  background-color: #111;
  color: #efefef;
  font-size: 1.1em;
  font-family: 'Ubuntu', 'Trebuchet MS', 'Tahoma', 'Helvetica', sans-serif;
  font-weight: 400;
  min-height: 100%;
  // background-image: url('/img/cam.png');
  // background-position: top;
  // background-size: cover;
  // background-repeat: no-repeat;
}

aside#topbar {
  position: fixed;
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background-color: #87ceeb;
  transition: width 1s ease-in;
  z-index: 999;
}

body:not(.js-enabled) {
  aside#topbar {
    width: 100%;
    transition: none;
  }
}