body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #efefef;
  font-size: 1.1em;
  font-family: 'Ubuntu', 'Trebuchet MS', 'Tahoma', 'Helvetica', sans-serif;
  font-weight: 400;
  // background-image: url('/img/cam.png');
  // background-position: top;
  // background-size: cover;
  // background-repeat: no-repeat;
}
