@import '_vars';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 16px;
  max-width: $width-total;
  font-family: $fn-cont;
  font-size: 1.05em;
  margin-bottom: 4px;
  color: $tx;
  background-color: $bg;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
  margin-top: 6px;
}

h1,
h2,
h3,
h4 {
  font-family: $fn-head;
}

h1 {
  font-size: 2.5em;
  line-height: 1.05em;
}

h2 {
  font-size: 2.1em;
}

h2.invert {
  margin-bottom: 0;
  margin-top: 16px;
}

h3 {
  font-size: 2em;
}

h4 {
  font-weight: normal;
  font-size: 1.5em;
  opacity: 0.7;
}

p {
  line-height: 1.5em;
  margin-bottom: 4px;
}

a {
  color: $ln;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 4px;
}



a:hover {
  background-color: $ln;
  color: $bg;
}

a {
  border: 1px solid rgba(0,0,0,0);
}

a:focus {
  outline: none;
  border: 1px dotted $ln;
}

article {
  a {
    // color: $tx;
    // font-weight: bold;
    border-radius: 2px;
  }

  a:hover {
    color: $bg;
    background-color: $ln;
    border-radius: 2px;
  }

  a:visited {
    border-bottom: 2px dotted $ln;
  }
}

.fa {
  display: inline-block;
  // font-size: 1.5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

a:hover .fa {
  transform: scale(1.15);
}

a:active .fa {
  transform: scale(0.95);
}

sub,
sup {
  font-size: 0.8em;
}

ul {
  list-style: none;
}

li,
ul {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 0.8em;
}

li p a {
  color: $tx;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 0;
  height: 22px;
  width: 100%;
  opacity: 0.8;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAt1BMVEUAAADM8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v/M8v9wAl3HAAAAPHRSTlMAAQMECAkKCw4QERweJiorLDg6O0JFRk1QUV5hZmhpa36AhYiOj5udpbC1t7m+x9Ha3uLk6Ovt7/H3+/3V7YVuAAABMElEQVRYw+2Xx1YCMRhGv2Fo0qSDFEWqIL0I4n3/53IR5qC4IXGbu5pZ3DuT/2SRSBGZWncwntzB+LVdTuiGoL7FimXhl59bY8178upXceGQjfwGbnxdCnlcOSQlKTyat1UpHugugnTz4zIHSeqY52fZEL4ZqyDFzgC0ZIkpLKUiAFNbX6FZRUI9ALLWATUBKGsGcLL3lQagrQ3A3CEQAPAqACYOAWOO/xuY+IAP+IAP+IAP+IAP+MCfwFh7t4NqdMwbaAGwcwjEAehqCMCDfaAEQE0VAPr2gRUAmcuf8GjrvwCwlTQC4NOy0DLfrUtKXS5AfYs5ZKfGWQdSdPAHdtPJXcxPkZEzvb7rra0abQnHQuO6picH/Zj/OZXUyFI/d8LbnVkZLvb3yZtZrxiLvG/BQxobYX07aQAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


aside h3,
h4 {
  font-style: italic;
}


code {
  font-family: $fn-mono;
}

input[type='text'] {
  width: 80%;
  padding: 4px;
  font-size: 1.2em;
  color: $tx;
  background-color: $bg-dark;
  border: 1px solid $bg-light;
  border-radius: 4px;
}

input[type='text']:focus {
  border: 1px solid $tx;
  outline: none;
}

#smalltitle::first-letter,
#subtitle::first-letter {
  text-transform: capitalize;
}

#smalltitle {
  margin-bottom: 12px;
}

.question {
  margin-top: 16px;
}

.chead {
  text-transform: capitalize;
  text-decoration: overline;
  margin-top: 32px;
}

.button {
  padding: 2px;
  margin: 2px;
  border-bottom: none;
  // background-color: $bg-light;
  // color: $tx-light;
  border-radius: 4px;
  font-style: normal;
  cursor: default;
}

a.button {
  cursor: pointer;
}

span.invert {
  color: $bg-dark;
  background-color: $tx-light;
  border-radius: 2px;
  padding: 1px;
}
