main {
  max-width: 50em;
  margin: 0 auto;
  padding: 16px;

  // The titles and stuff at the top of each page/post
  aside#meta {
    margin-bottom: 16px;

    img#image {
      width: 100%;
      border-radius: 8px;
      mask-image: linear-gradient(to bottom, #000 0%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, #000 0%, transparent 100%);
      margin-bottom: -5vh;
    }

    h1#title,
    h2#date,
    h2#desc {
      margin: 0;
      padding: 0;

      &:not(.keepcase) {
        text-transform: lowercase;
      }

      a {
        filter: brightness(0.5);
      }
    }

    h1#title {
      font-size: 2.5em;
      font-weight: 700;
    }

    h2#date,
    h2#desc {
      font-weight: 500;
    }

    h2#desc {
      color: #99a6aa;
    }

    h2#date {
      margin-bottom: 8px;
      font-size: 0.8em;
      text-align: right;
      color: #888;
      font-style: italic;
    }
  }

  h1:not(#title),
  h2:not(#date):not(#desc),
  h3,
  h4,
  h5 {
    font-weight: 500;
    margin: 8px 0 2px 0;
  }

  // Links
  a {
    text-decoration: none;
    color: #87ceeb;

    &:hover,
    &:focus {
      color: #00bfff;
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }

  figure.image {
    display: block;
    width: 100%;
    margin: 4px auto;
    clear: both;

    &.float-left {
      float: left;
      margin-right: 8px;
    }

    &.float-right {
      float: right;
      margin-left: 8px;
    }
  }

  p {
    line-height: 1.4em;
    margin: 0 0 1.5em;
  }

  figcaption.image-caption,
  author {
    width: calc(100% - 8px);
    font-style: italic;
    text-align: right;
    color: #aaa;
    margin: 4px auto 16px auto;
  }

  ul {
    list-style: square;

    li {
      margin: 4px 0;
    }
  }

  blockquote,
  author {
    display: block;
  }

  blockquote {
    color: #ccc;
    border-left: 2px solid #87ceeb;
    margin: 0 0 2px 0;
    padding: 16px;
    font-style: italic;
  }

  blockquote[short] {
    font-size: 2em;
  }

  author {
    width: 100%;

    &::before {
      content: "— ";
    }
  }

  hr {
    margin-top: 32px;
    margin-bottom: 32px;
    border: 0;
    height: 22px;
    width: 100%;
    opacity: 0.8;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAABBCAYAAAB8S5zgAAACl0lEQVRoge3Wz0tUURQH8AdCEgQuJBcSES1SCCIiJpOwyE1rwb+gIMqkH2QiOPceW0SKELRqGRRCE2GrWfRLCFHnnjuTJkPRhJCpM/ec5xi5SEKaFi5yXjPjPCncnA/c5fvy/b734D3PE0IIIYQQQgghhBA7DGZyDZDi4zCZPQPIFY4f6Utl93bGYjWlcrrjmVqY5kNg6VTFHENtYJear0983V2xk+VjkKK2SlnRhDsJM7mGzlisxgO7tH8AuQcsvQVDnwDpc9lj3IRC7oHJlQPBQd3xTC0k/bNg6aFGmq2Uo5E+APIIGDoHY7TnryEpbgTjbgLyKzD0cYssVJajYP1mTxnq05YXNVKhysOAfK0vsVBfVMDQUWUorpF+hMgaA/QjwRsTRbqikb9UmwOW1jTyoAdIbwBpPUSBgkZ+CVPuSNEYyzeUoYUwOWBpTSF19dp83eYsbeiJQvoZrhO98wDpfciLCtq6NCRzLYExw2A5HzoL6R5MLe8rykKKh89xme2NQZcB41oDBe4D8jcZI2NkjIzZoTGWprdx4WzU5k4UF3BDGnk5bBYgD0GKG//Vk3kByGE/UM/A+s1FBSxfAKS5UDmWVhVS193gRxPdIx3uT6IASBMeGP+ytpyuZpAytA5Icwpz54MF+nGxSaEb0ZZXFNKvaoZodKNRkz3sBUDS71BI49UMUobWFdJ8FN0tr9fm6wasf0kjPdWWJjVSsvRxCY1uVCFfhJnVhmCBjRLLLWB5WFt+rZBsuayNXyh+AOhHIJ3eVTrL7wDLjyt3oiQgP1eGrsL4/J9Xtdfm6wCzEWX89lIHjGsNPo1y+nGx6bbh02Wz0B0sN2KzrTop47ffSXyv3ypHCCGEEEIIIYQQQgghxH/1G09YIrXksdQcAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  hr.tile {
    background-repeat: repeat-x;
  }

  // In a list of blog posts, this is each individual post
  div.post {
    margin-bottom: 4px;
    padding: 4px;

    h3,
    h4 {
      padding: 0;
      margin: 0;
    }

    h3 {
      font-size: 1.5em;
      margin-bottom: 2px;

      &:not(:first-of-type) {
        color: #ccc;
        font-size: 1.2em;
        font-weight: normal;
        margin-top: -2px;
        margin-bottom: 2px;
      }

      h4 {
        color: #aaa;
        font-size: 0.8em;
        font-weight: normal;

        a {
          filter: brightness(0.8);
        }
      }
    }

    div.note {
      position: sticky;
      top: 0;
      padding: 8px;
      border-radius: 4px;
      margin-bottom: 16px;
      text-align: center;
      z-index: 99;

      p {
        margin: 0;
      }
    }

    div.note.info {
      background-color: #0e1619;
      border-top: 4px solid #85ceeaaa;
    }

    div.note.warn {
      background-color: #19110e;
      border-top: 4px solid #eaa285aa;
    }

    div.note.medium {
      background-color: #16190e;
      border-top: 4px solid #ceea85aa;
    }
  }
}
