main {
  max-width: 50em;
  margin: 0 auto;
  padding: 16px;

  // The titles and stuff at the top of each page/post
  aside#meta {
    margin-bottom: 16px;

    img#image {
      width: 100%;
      border-radius: 8px;
      mask-image: linear-gradient(to bottom, #000 0%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, #000 0%, transparent 100%);
      margin-bottom: -5vh;
    }

    h1#title,
    h2#date,
    h2#desc {
      margin: 0;
      padding: 0;

      &:not(.keepcase) {
        text-transform: lowercase;
      }

      a {
        filter: brightness(0.5);
      }
    }

    h1#title {
      color: scale-color($accent, lightness, 50%);
      font-size: 2.5em;
      font-weight: 700;
    }

    h2#date,
    h2#desc {
      font-weight: 500;
    }

    h2#desc {
      color: scale-color($accent, lightness, 60%);
    }

    h2#date {
      margin-bottom: 8px;
      font-size: 0.8em;
      text-align: right;
      color: dark-tint($fg, 40%);
      font-style: italic;
    }
  }

  h1:not(#title),
  h2:not(#date):not(#desc),
  h3,
  h4,
  h5 {
    font-weight: 500;
    margin: 8px 0 2px 0;
  }

  // Links
  a {
    text-decoration: none;
    color: $accent;

    &:hover,
    &:focus {
      color: dark-tint($accent, 20%);
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }

  figure.image {
    display: block;
    width: 100%;
    margin: 4px auto;
    clear: both;

    &.float-left {
      float: left;
      margin-right: 8px;
    }

    &.float-right {
      float: right;
      margin-left: 8px;
    }
  }

  p {
    line-height: 1.4em;
    margin: 0 0 1.5em;
  }

  figcaption.image-caption,
  author {
    width: calc(100% - 8px);
    font-style: italic;
    text-align: right;
    color: dark-tint($fg, 30%);
    margin: 4px auto 16px auto;
  }

  ul {
    list-style: square;

    li {
      margin: 4px 0;
    }
  }

  blockquote,
  author {
    display: block;
  }

  blockquote {
    color: dark-tint($fg, 30%);
    border-left: 2px solid $accent;
    margin: 0 0 2px 0;
    padding: 16px;
    font-style: italic;

    &[short] {
      font-size: 2em;
    }
  }

  author {
    width: 100%;

    &::before {
      content: "— ";
    }
  }

  hr {
    display: block;
    margin: 32px 40%;
    padding: 2px 0;
    border: 0;
    border-radius: 8px;
    background-color: $accent;
  }

  // In a list of blog posts, this is each individual post
  div.post {
    margin-bottom: 4px;
    padding: 4px;

    h3,
    h4 {
      padding: 0;
      margin: 0;
    }

    h3 {
      font-size: 1.5em;
      margin-bottom: 2px;

      &:not(:first-of-type) {
        color: dark-tint($fg, 30%);
        font-size: 1.2em;
        font-weight: normal;
        margin-top: -2px;
        margin-bottom: 2px;
      }

      h4 {
        color: dark-tint($fg, 30%);
        font-size: 0.8em;
        font-weight: normal;

        a {
          filter: brightness(0.8);
        }
      }
    }
  }

  div.note {
    position: sticky;
    top: 0;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    text-align: center;
    z-index: 99;

    &.info {
      background-color: #0e1619;
      border-top: 4px solid #85ceea;
    }

    &.warn {
      background-color: #19110e;
      border-top: 4px solid #eaa285;
    }

    &.medium {
      background-color: #16190e;
      border-top: 4px solid #ceea85;
    }

    p {
      margin: 0;
    }
  }
}
