@import '_vars';

div#featured-img {
  box-shadow: 0 0 2em 1em $bg inset;
  img {
    width: 100%;
    border-radius: 5px;
    margin: 0 auto 16px;
    position: relative;
    z-index: -1;
  }
}

article {
  p {
    font-size: 1.1em;
    margin-bottom: 24px;
  }

  img {
    width: 100%;
    margin-top: 16px;
    border-radius: 5px;
  }

  span.spacer {
    display: inline-block;
    margin: 16px;
  }

  h1,
  h2,
  h3 {
    opacity: 0.8;
    font-size: 1.7em;
    margin-bottom: 16px;
  }

  iframe {
    width: 100%;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.post-notice {
  padding: 16px;
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  border-radius: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $bg-dark;
  margin-bottom: 32px;
  text-align: right;
}

.post-notice p {
  // filter: brightness(2);
}

.post-notice a {
  color: inherit;
  text-decoration: underline;
}

.post-notice a:hover {
  background: none;
  text-decoration: none;
}

.post-notice p::before {
  font-family: $fn-mono;
  font-size: 4em;
  display: inline-block;
  position: relative;
  top: 10px;
  float: left;
}


.post-notice.info {
  color: $bg-bright-green;
}

.post-notice.info p::before {
  content: '[i]';
  letter-spacing: -0.2em;
}

.post-notice.medium p::before {
  content: 'M';
}

.post-notice.warn {
  color: $bg-bright-red;
}

.post-notice.warn p::before {
  content: '/!\\';
  letter-spacing: -0.2em;
}
