@media screen and (max-width: 70em) { // This was originally calc(50em + 512px), but Chrome didn't like it
  aside#sidebar {
    position: inherit;
    width: 100%;
    text-align: left;

    a.menu-toggle {
      margin: 8px 0 32px 0;
    }

    div#sidebar-top {
      margin: 16px;
      text-align: left;
    }

    img#babby {
      margin-right: 8px;
      height: 4em;
      width: auto;
      float: left;
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    a {
      display: block;
      padding: 8px 10%;
      margin: 0;
    }
  }


  // If we're not on the homepage, hide the navigation, ready to be opened by the JS
  body:not(.is-home) {
    nav {
      display: none;
    }
  }

  // If we are on the homepage, show the nav and hide the buttons
  body.is-home {
    aside#sidebar {
      a.menu-toggle {
        display: none !important; // !important here due to specificity above
      }

      nav {
        display: block;
      }
    }
  }

  main {
    figure.image {
      width: 75% !important;
      margin: 4px auto !important;
      float: none !important;
    }
  }
}

// On big screens always show the nav
@media screen and (min-width: 70em) {
    a.menu-toggle {
      display: none !important; // !important here due to specificity above
    }
}
