a#twitter {
  border-right: 2px solid #1da1f2;
  border-left: 2px solid #1da1f2;
}

a#flickr {
  border-right: 2px solid #ff0084;
  border-left: 2px solid #ff0084;
}

a#github {
  border-right: 2px solid #6cc644;
  border-left: 2px solid #6cc644;
}

a#youtube {
  border-right: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
}

a#keybase {
  border-right: 2px solid #ff6f21;
  border-left: 2px solid #ff6f21;
}

a {
  color: #eee;
  border-bottom: none;
  border-left: 2px solid skyblue;
  border-right: 2px solid skyblue;
  border-right-width: 0 !important;
  background: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;
}

a:hover, a.c {
  border-left-width: 8px !important;
}

a i {
  transform: scale(0.9);
  filter: brightness(0.8);
  transition: all 0.3s cubic-bezier(.08,.82,.17,1);
}

a:hover i, a.c i {
  transform: scale(1);
  filter: brightness(1);
}
