a#twitter {
  border-left: 2px solid #1da1f2;
}

a#flickr,
a.f {
  border-left: 2px solid #ff0084;
}

a#github {
  border-left: 2px solid #6cc644;
}

a#youtube {
  border-left: 2px solid #ff0000;
}

a#keybase {
  border-left: 2px solid #ff6f21;
}

a {
  color: #eee;
  border-bottom: none;
  border-left: 2px solid #87ceeb;
  border-right-width: 0 !important;
  background: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;

  &:hover,
  &.focus,
  &.c {
    border-left-width: 8px !important;
    border-left-color: #00bfff;
  }

  &.f:hover,
  &.f.c {
    border-left-color: #ff0084;
  }

  i {
    transform: scale(0.9);
    filter: brightness(0.8);
    transition: all 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);
  }

  &:hover i,
  &:focus i,
  &.c i {
    transform: scale(1);
    filter: brightness(1);
  }
}
