// TODO:
// put the borders on the list items not the links

a#sidebar-top-link {
  color: inherit;
  text-decoration: none;
}

a:not(#sidebar-top-link):not(.menu-toggle) {
  color: $fg;
  border-bottom: none;
  border-left: 2px solid $accent;
  background: none;
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;

  @media screen and (max-width: 70em) {
    padding: 16px 5vw;
  }

  &:hover,
  &.focus,
  &.c {
    border-left-width: 8px;
  }

  &.f:hover,
  &.f.c {
    border-left-color: #ff0084;
  }

  i {
    transform: scale(0.9);
    color: dark-tint($fg, 30%);
    // transition: all 0.3s cubic-bezier(0.08, 0.82, 0.17, 1);
  }

  &:hover i,
  &:focus i,
  &.c i {
    transform: scale(1);
    color: dark-tint($fg, 5%);
  }

  // &#menu-twitter {
  //   &:hover,
  //   &:focus {
  //     i {
  //       color: #1da1f2;
  //     }
  //   }
  // }

  // &#menu-flickr {
  //   &:hover,
  //   &:focus {
  //     i {
  //       color: #fff;
  //     }
  //   }
  // }

  // &#menu-github {
  //   &:hover,
  //   &:focus {
  //     i {
  //       color: #6cc644;
  //     }
  //   }
  // }

  // &#menu-youtube {
  //   &:hover,
  //   &:focus {
  //     i {
  //       color: #ff0000;
  //     }
  //   }
  // }

  // &#menu-keybase {
  //   &:hover,
  //   &:focus {
  //     i {
  //       color: #ff6f21;
  //     }
  //   }
  // }
}