$bg: #000d19;
$bg-dark: #000a14;
$bg-light: #002e59;

$tx-light: #ccc;
$tx-dark: #333;
$ln-light: #b9c5cc;

$fn-head: 'Trebuchet MS', 'Franklin Gothic', 'Tahoma', sans-serif;
$fn-cont: 'Helvetica Neue', 'Helvetica', 'Helvetica Neue', 'Tahoma', 'Verdana', 'Arial', sans-serif;
