$bg: #000d19;
$bg-dark: #000a14;
$bg-light: #002e59;

$bg-red: #590000;
$bg-bright-red: #cc0000;
$bg-green: #005900;
$bg-bright-green: #00cc00;
$bg-blue: #000059;
$bg-bright-blue: #00cc00;

$tx-light: #fff;
$tx: #eee;
$tx-dark: #000;
$ln: #b9c5cc;

$fn-head: 'Trebuchet MS', 'Franklin Gothic', sans-serif;
$fn-cont: 'Lucida Grande', 'Tahoma', 'Helvetica Neue', 'Helvetica', sans-serif;
$fn-mono: 'Oxygen Mono', 'Lucida Sans Typewriter', 'Courier', 'Courier New', monospace;
