// sizes
$width-total: 70em;
$width-header: 19em;
$width-content: 50em;


// main backgrounds
$bg: #000d19;
$bg-dark: #050d14;
$bg-light: #0a89ff;


// secondary backgrounds
$bg-red: #cc0000;
$bg-bright-red: #ff0000;

$bg-green: #00cc00;
$bg-bright-green: #00ff00;

$bg-blue: $bg-light;
$bg-bright-blue: #0000ff;


// text
$tx-light: #fff;
$tx: #ebf5ff;
$tx-dark: #001529;

// links
$ln: #c2e1ff;
$ln-v: #a2e4dd;


// fonts
$fn-cont: 'Open Sans', 'Lucida Grande', 'Tahoma', 'Helvetica Neue', 'Helvetica', sans-serif;
$fn-head: 'Nunito', $fn-cont;
$fn-mono: 'Ubuntu Mono', 'Lucida Sans Typewriter', 'Courier', 'Courier New', monospace;
