body.wide {
  main {
    max-width: calc(100% - 384px);
  }
}

body.wide-ish {
  main {
    max-width: calc(80% - 384px);
  }
}

@media screen and (max-width: 80em) {
  body.wide,
  body.wide-ish {
    main {
      max-width: 50em;
    }
  }
}
