#banner {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #111;
  color: #fafafa;
  width: 100%;
  font-family: 'Ubuntu Mono', monospace;
  padding-top: 2px;
  padding-bottom: 2px;
}
#banner a {
  color: #fafafa;
}
