@import '_vars';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  font-family: $fn-cont;
  font-size: 1.05em;
  margin-bottom: 0.5em;
  color: $tx;
  background-color: $bg;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  font-family: $fn-head;
}

h1 {
  font-size: 2.5em;
  line-height: 1.05em;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-weight: normal;
  font-size: 1.5em;
  opacity: 0.7;
}

p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color: $ln;
  text-decoration: none;
}

a:focus,
a:hover {
  background-color: $ln;
  color: $bg;
}

ul {
  list-style: none;
}

li,
ul {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
}

li p a {
  color: $tx;
}

header {
  margin-bottom: 1.9em;
}

header h1 {
  font-family: 'Comfortaa', $fn-head;
  font-size: 3em;
}

header h1 a {
  display: inline-block;
  background-image: url('/img/wm.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80%;
  height: 1em;
}

header h1 a:focus,
header h1 a:hover {
  background-image: url('/img/wm-a.png');
}

.youtube {
  color: #cd201f;
}

.twitter {
  color: #1da1f2;
}

.github {
  color: #6cc644;
}

.flickr {
  color: #ff0084;
}

.question {
  margin-top: 1em;
}

.chead {
  text-transform: capitalize;
  margin-top: 1em;
}

@media screen and (max-width: 65em) {
  header {
    font-size: 1.2em;
    text-align: center;
  }

  header a {
    display: inline-block;
    width: 100%;
  }

  header h1 a {
    width: 50vw;
  }
}

@media screen and (min-width: 65em) {
  main {
    float: right;
    width: 45em;
  }

  header {
    float: left;
    width: 14em;
    position: fixed;
    text-align: right;
    padding-right: 1em;
  }
}
