@import '_vars';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 45em;
  font-family: $fn-cont;
  color: $tx;
  background-color: $bg;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: $fn-head;
}

a {
  color: $ln;
  text-decoration: none;
}

a:hover {
  background-color: $ln;
  color: $bg;
}

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 1em;
  margin-bottom: 1em;
}

li p a {
  color: $tx;
}

li h3 {
  font-size: 1.4em;
  font-weight: normal;
}

div#header {
  margin-bottom: 1.9em;
}

div#header h1 {
  font-family: 'Comfortaa', $fn-head;
  font-size: 3em;
}

.youtube {
  color: #cd201f;
}

.twitter {
  color: #1da1f2;
}

.github {
  color: #6cc644;
}

.medium {
  color: #00ab6c;
}

div#footer {
  margin-top: 2em;
  font-size: 0.9em;
}

.question {
  margin-top: 1em;
}

.chead {
  text-transform: capitalize;
  margin-top: 3em;
}

@media screen and (max-width: 35em) {
  div#header {
    font-size: 1.5em;
  }

  div#header a {
    display: inline-block;
    width: 100%;
  }
}
