
.fa-info:before { content: '\e800'; } /* '' */
.fa-person:before { content: '\e801'; } /* '' */
.fa-mail:before { content: '\e802'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-gauge:before { content: '\f0e4'; } /* '' */
.fa-laptop:before { content: '\f109'; } /* '' */
.fa-github:before { content: '\f113'; } /* '' */
.fa-youtube:before { content: '\f16a'; } /* '' */
.fa-code:before { content: '\f1c9'; } /* '' */
.fa-medium:before { content: '\f23a'; } /* '' */