* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    color: #fafafa;
    font-family: 'Titillium Web', sans-serif;
    background: #111;
    overflow-x: hidden;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.5%;
    font-size: 1.25em;
    z-index: 1;
}

#header h1, #header h4 {
    color: #0670b1;
    background: linear-gradient(240deg, #42033d, #173753, #0670b1, #111);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 25s infinite;
    cursor: default;
}

#header h1 {
    font-size: 3.5em;
    font-family: 'Ubuntu Mono', monospace;
}

#header h4 {
    font-weight: normal;
    margin-bottom: 1em;
}

#questions .question {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

#questions .question .question-heading {
    font-size: 1.3em;
    font-weight: bold;
}

#questions .question .question-subheading {
    font-size: 1.1em;
    font-weight: bold;
}

#questions #devices #handylist, #questions #devices li {
    margin-left: 2em;
}

a {
    cursor: pointer;
    color: #dedede;
    text-decoration: none;
}

a:hover {
    color: #0670B1;
    text-decoration: underline;
}

div#footer {
    position: fixed;
    bottom: 0px;
    right: 1.5%;
    text-align: right;
    color: #282828;
    background-color: #111;
    padding-top: 5px;
    padding-left: 5px;
    border-top-left-radius: 5px;
    z-index: 500;
}

div#footer a {
    text-decoration: underline;
    color: #282828;
    transition: all 0.25s;
}

div#footer a:hover {
    color: #383838;
}

#footer a.main {
  color: #dedede;
  text-decoration: none;
}

div#footer a.main:hover {
    color: #0670b1;
}

@keyframes glow {
    0% {
        background-position: 99% 0%
    }
    50% {
        background-position: 1% 100%
    }
    100% {
        background-position: 99% 0%
    }
}
