* {
    vertical-align: middle;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-family: 'Comfortaa', monospace;
  color: #fafafa;
  background-color: #111;
  cursor: default;
  overflow-x: hidden;
}
#questions {
  width: 100%;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #222;
}
a {
  color: #fdfdfd;
  text-decoration: underline;
  transition: all 0.25s;
}
a:hover {
  color: #999;
}
span {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Nova Mono', monospace;
  color: #999;
}
::-webkit-scrollbar {
  background-color: #111;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  width: 100%;
}

#devices p:first-line {
  font-size: 1.15em;
  font-weight: bold;
  color: #eee;
}
