@import '_vars';

// #header #menu a::before {
//   content: '[';
// }
//
// #header #menu a::after {
//   content: ']';
// }

#header h1 {
  font-size: 3.2em;
  font-family: 'Comfortaa', $fn-head;
  font-weight: bold;
}

#header h1 a {
  text-decoration: none;
  color: $ln-light;
}

#header a:hover {
  text-decoration: none;
}

#header span {
  display: inline-block;
  margin-top: 5px;
}

.youtube {
  color: #cd201f;
}

.twitter {
  color: #1da1f2;
}

.github {
  color: #6cc644;
}

.medium {
  color: #00ab6c;
}
