---
hidden: true
---

@import '_vars';

.MTML {
  background-color: #b7e1f4;
}

.Ruby {
  background-color: #701516;
}


.Visual-Basic {
  background-color: #945db7;
}

.PHP {
  background-color: #4F5D95;
}

.Java {
  background-color: #b07219;
}

.CoffeeScript {
  background-color: #244776;
}

.HTML {
  background-color: #e44b23;
}

.Swift {
  background-color: #ffac45;
}

.C {
  background-color: #555555;
}

.AutoHotkey {
  background-color: #6594b9;
}


.AutoIt {
  background-color: #1C3552;
}

.Processing {
  background-color: #0096D8;
}

.CSS {
  background-color: #563d7c;
}

.JavaScript {
  background-color: #f1e05a;
  color: $tx-dark;
}

.Python {
  background-color: #3572A5;
}
