body {
    background-color: #000;
    color: #ccc;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 50em;
    font-family: 'Helvetica', 'Tahoma', 'Verdana', 'Arial', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0;
    font-family: 'Comfortaa', 'Cambria', 'Georgia', 'Times New Roman', serif;
}

h1, h1#title {
    font-size: 5em;
    color: #ccc;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

div a {
    color: #bbb;
}

div a:hover {
    color: #eee;
    /*text-decoration: none;*/
}

.home-lnk {
    font-size: 1.1em;
}

.fa {
    font-size: 1.5em !important;
}

.youtube, .twitter, .github, .medium, .social-lnk {
    font-size: 1.2em;
    text-decoration: none;
}

.page-lnk {
    text-decoration: none;
}

.social-lnk:hover::after, .page-lnk:hover::after {
    font-size: 0.7em;
    opacity: 0.75;
    margin-left: 5px;
}

.youtube {
    color: #cd201f;
}

.twitter {
    color: #1da1f2;
}

.github {
    color: #c9510c;
}

.medium {
    color: #00ab6c;
}


/*div .fa {
    transition: all 0.25s;
}*/

div a:hover .fa {
    transform: scale(1.25);
}

div a:active .fa {
    transform: scale(0.95);
}

.linkdesc {
    font-size: 0.9em;
    opacity: 0.9;
    /*display: none;*/
}

div {
    font-size: 0.9em;
    color: #bbb;
    margin-top: 2em;
}

div p {
    display: block;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
}

@media screen and (max-width: 50em) {
    body {

        font-size: 1.15em;
        overflow-x: hidden;
        max-width: 20em;
        padding-bottom: 1em;
    }
    h1#title {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 50em) {
    .yt:hover::after {
        content: 'Videos';
    }
    .tw:hover::after {
        content: 'Words';
    }
    .gh:hover::after {
        content: 'Code';
    }
    .me:hover::after {
        content: 'Longer Words';
    }
    .faq:hover::after {
        content: 'Frequently Asked Questions';
    }
    .dev:hover::after {
        content: 'Tech I have';
    }
    .abo:hover::after {
        content: 'Who even is dnomaid anyway?';
    }
    .con:hover::after {
        content: 'Send me an email';
    }
    .rpi:hover::after {
        content: 'Random things that  don\'t fit on my GitHub';
    }
    .sta:hover::after {
            content: 'See how unreliable some of my sites are';
        }
}

::selection {
    background-color: darkblue;
    color: white;
}

::-moz-selection {
    background-color: darkblue;
    color: white;
}
