body {
    background-color: #000d19;
    color: #eee;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 40em;
    font-family: 'Helvetica', 'Tahoma', 'Verdana', 'Arial', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0;
    font-family: 'Comfortaa', 'Cambria', 'Georgia', 'Times New Roman', serif;
}

h1, h1#title {
    font-size: 5em;
    color: #ccc;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

div a {
    color: #ccf3ff;
}

div a:hover {
    filter: contrast(1.5);
    /*text-decoration: none;*/
}

ul {
    /*display: block;*/
    list-style: none;
    padding: 0;
    /*margin: 0 auto;
    text-align: left;*/
}

li {
    padding: 0;
    margin-bottom: 20px;
    /* text-transform: capitalize; */
    font-size: 1.2em;
}

li a.title {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.3em;
}

li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}


/*.gsc-control-wrapper-cse {
    display: inline-block;
    margin: 0 auto;
    max-width: 35em;
}

input.gsc-input {
  display: inline-block;
  position: relative;
  top: -5px;
}*/

.fa {
    font-size: 1.5em !important;
}

.youtube, .twitter, .github, .medium, .social-lnk {
    font-size: 1.2em;
    text-decoration: none;
}

.page-lnk {
    text-decoration: none;
}

.youtube {
    color: #cd201f;
}

.twitter {
    color: #1da1f2;
}

.github {
    color: #c9510c;
}

.medium {
    color: #00ab6c;
}

#post-content {
    text-align: left;
    font-size: 1.03em;
}

#featured-img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    /*border: 1px solid #ccf3ff;*/
}

#post-content img {
    width: 90%;
    margin-top: 1.5em;
    border-radius: 5px;
    border-radius: 5px;
}

#post-content span.image-caption {
    display: inline-block;
    background-color: #fff;
    color: #000;
    position: relative;
    top: -10px;
    width: 90%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    margin-bottom: 1.5em;
}

#post-content span.image-caption a {
    color: #333;
}

#post-content h1, #post-content h2, #post-content h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'News Gothic MT', 'Trebuchet MS', 'Franklin Gothic', sans-serif;
    font-size: 1.6em;
}

#post-content iframe {
    width: 100%;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

hr {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 0;
    border-bottom: 3px dotted #ccf3ff;
    background: none;
}

#header a {
    color: #bbb;
}

#header p, #header h1 {
    display: inline;
}

#header h1 {
    font-size: 4.9em;
    text-align: left;
}

#social-mnu {
    float: right;
    position: absolute;
    top: 30px;
    text-align: right;
}

#menu-mnu {
    text-align: right;
}

.chead {
    font-size: 2em;
    margin-top: 2em;
}


/*div .fa {
    transition: all 0.25s;
}*/

.fa {
    display: inline-block;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

a:hover .fa {
    transform: scale(1.25);
}

a:active .fa {
    transform: scale(0.95);
}

.linkdesc {
    font-size: 0.9em;
    opacity: 0.9;
    /*display: none;*/
}

div {
    font-size: 0.9em;
    color: #bbb;
    margin-top: 2em;
}

div:last-of-type {
    margin-bottom: 2em;
}

div p {
    display: block;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
}

@media screen and (max-width: 45em) {
    body {
        /*font-size: 1.15em;*/
        overflow-x: hidden;
        max-width: 20em;
        padding: 0.75em;
        padding-bottom: 1em;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    /*h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
    }*/
    #header h1 {
        font-size: 3em;
        text-align: center;
    }
    #header p, #header h1 {
        display: block;
    }
    #header #social-mnu {
        position: relative;
        float: none;
    }
    #header #menu-mnu {
        margin-top: 3em;
    }
    #header #social-mnu, #header #menu-mnu {
        text-align: center;
    }
    #header a {
        display: inline-block;
        width: 100%;
    }
    #header a:hover {
        background-color: #000;
    }
    li a {
        overflow-wrap: break-word;
    }
    #post-content {
        font-size: 1.15em;
    }
}

::selection {
    background-color: darkblue;
    color: white;
}

::-moz-selection {
    background-color: darkblue;
    color: white;
}


/* I C O N - F O N T */


/*
C R E D I T S

Icons from FontAwesome:
License - http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
Link - http://fontawesome.io

Font code generated with Fontello:
License - N/A?
Link - http://fontello.com/
*/

@font-face {
    font-family: 'dno-fa';
    src: url('../font/dno-fa.eot');
    src: url('../font/dno-fa.eot#iefix') format('embedded-opentype'), url('../font/dno-fa.woff2') format('woff2'), url('../font/dno-fa.woff') format('woff'), url('../font/dno-fa.ttf') format('truetype'), url('../font/dno-fa.svg#dno-fa') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dno-fa';
    src: url('../font/dno-fa.svg?8827202#dno-fa') format('svg');
  }
}
*/

[class^="fa-"]:before, [class*=" fa-"]:before {
    font-family: "dno-fa";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-info:before {
    content: '\e800';
}


/* '' */

.fa-person:before {
    content: '\e801';
}


/* '' */

.fa-mail:before {
    content: '\e802';
}


/* '' */

.fa-home:before {
    content: '\e803';
}


/* '' */

.fa-twitter:before {
    content: '\f099';
}


/* '' */

.fa-gauge:before {
    content: '\f0e4';
}


/* '' */

.fa-laptop:before {
    content: '\f109';
}


/* '' */

.fa-github:before {
    content: '\f113';
}


/* '' */

.fa-folder-open-empty:before {
    content: '\f115';
}


/* '' */

.fa-youtube:before {
    content: '\f16a';
}


/* '' */

.fa-code:before {
    content: '\f1c9';
}


/* '' */

.fa-medium:before {
    content: '\f23a';
}


/* '' */
