/*
These things apply to everything
*/
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 1 !important;
}

/*
body
*/
body {
  font-family: 'Droid Sans Mono', monospace;
  text-align: center;
  text-transform: lowercase;
  color: #fafafa;
  /*background-color: #2baff7;
  background-image: -moz-linear-gradient(45deg, #2c91f5 0%, #29bbe3 50%, #2baff7 100%);
  background-image: -webkit-gradient(left bottom, right top, color-stop(0%, #2c91f5), color-stop(50%, #29bbe3), color-stop(100%, #2baff7));
  background-image: -webkit-linear-gradient(45deg, #2c91f5 0%, #29bbe3 50%, #2baff7 100%);
  background-image: -o-linear-gradient(45deg, #2c91f5 0%, #29bbe3 50%, #2baff7 100%);
  background-image: -ms-linear-gradient(45deg, #2c91f5 0%, #29bbe3 50%, #2baff7 100%);
  background-image: linear-gradient(45deg, #2c91f5 0%, #29bbe3 50%, #2baff7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c91f5', endColorstr='#2baff7', GradientType=1 );
  background-repeat: no-repeat;
  background-size: cover !important;
  background-attachment: fixed !important;*/
  overflow: hidden;
  animation: backgroundColour 30s infinite linear;
}

/*
Main container
*/
#container {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 30px;
}

/*
{dnomaid} title
*/
#title {
  color: #fff;
  font-size: 15vw;
}

/*
Links, duh
*/
a {
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/*
Text selection
*/
::selection {
  background: none;
  color: #eee;
}
::-moz-selection {
  background: none;
  color: #eee;
}

/*
menu
*/
#menu, #submenu {
  margin-top: 5%;
}
#submenu {
  position: fixed;
  bottom: 0px;
  right: 5px;
}
#menu a {
  font-size: 2.1vw;
  color: #fafafa;
  transition: all 0.25s;
}
#submenu a {
  font-size: 1.5vw;
  color: #fafafa;
  transition: all 0.25s;
}
#menu a:hover, #submeny a:hover {
  color: #f1f1f1;
}

/*
mobile things
*/

@media screen and (max-width: 550px) {
  #menu a {
    font-size: 3vw;
  }
  #submenu a {
    font-size: 0.5em;
  }
}

/*
Animations
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  animation-delay: 1s;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-delay: 2s;
}

#submenu {
  animation-delay: 2.01s;
}



@keyframes backgroundColour {
  0%  { background-color: #2baff7; }
  10% { background-color: #269dde; }
  20% { background-color: #228cc5; }
  30% { background-color: #1e7aac; }
  40% { background-color: #196994; }
  50% { background-color: #15577b; }
  60% { background-color: #196994; }
  70% { background-color: #1e7aac; }
  80% { background-color: #228cc5; }
  90% { background-color: #269dde; }
  100% { background-color: #2baff7; }
}
