* {
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #110110;
    font-family: 'Titillium Web', sans-serif;
    overflow: hidden;
}

div#content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.25em;
    animation: fadeUp 1s ease;
}

div.group:not(:nth-last-child(1)) {
    border-bottom: 2px solid #42033d;
}

div.group:not(:nth-first-child(0)) {
    margin-top: 10px;
}

h1#title {
    color: #66ffd1;
    font-family: 'Comfortaa Light', monospace;
    font-size: 3em;
    cursor: default;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #66e0ff;
}

a.link {
    font-size: 2.25em;
}

a:hover {
    color: #00c9fc;
}

div#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #66ffd1;
    text-align: center;
    animation: fadeUpNoTL 1.25s linear;
}

@media screen and (max-width: 450px) {
    div#content {
        font-size: 7vw;
    }
    div#footer {
        font-size: 3.9vw;
    }
}

@media screen and (max-height: 400px) {
    div#content {
        font-size: 6vh;
    }
}

@keyframes glow {
    0% {
        background-position: 99% 0%
    }
    50% {
        background-position: 1% 100%
    }
    100% {
        background-position: 99% 0%
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeUpNoTL {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
