/*
These things apply to everything
*/
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 1 !important;
}

/*
body
*/
body {
  font-family: 'Droid Sans Mono', monospace;
  text-align: center;
  text-transform: lowercase;
  color: #fafafa;
  animation: backgroundColour 30s infinite linear;
  filter: drop-shadow(7.5px 7.5px 4px #eee);
}

/*
Main container
*/
#container {
  width: 275px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  border-radius: 3px;
}

/*
{dnomaid} title
*/
#title {
  color: #2baff7;
  font-size: 2.5em;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*
Links, duh
*/
a {
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/*
Text selection
*/
::selection {
  background-color: #2baff7;
  color: #fafafa;
}
::-moz-selection {
  background-color: #2baff7;
  color: #fafafa;
}

/*
scrollbar
*/
::-webkit-scrollbar {
  background-color: #2baff7;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  border-radius: 2px;
  width: 100%;
}

/*
menu
*/
#menu a, #submenu a {
  font-size: 2em;
  color: #fafafa;
  transition: all 0.25s;
}
#menu a:hover, #submenu a:hover {
  color: #eee;
}
.yt {
  background-color: #cd201f;
}
.tw {
  background-color: #1da1f2;
}
.me {
  background-color: #00ab6b;
}
.gh {
  background-color: #333333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.faq, .contact, .computers {
  background-color: #222;
}
.faq {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin-top: 5px;
}
.computers {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.menuitem, .subitem {
  display: block;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: .75em;
  transition: filter .1s ease-out;
}
.menuitem a, .subitem a {
  display: block;
  width: 100%;
  font-size: 1em;
}
.menuitem:hover, .subitem:hover {
  filter: opacity(0.5);
}

/*
mobile things

@media only screen and (max-width: 1000px) {
  #title {
    font-size: 3em;
  }
  #menu a {
    font-size: 3vw;
  }
  #submenu a {
    font-size: 1.5em;
  }
  span.subitem:not(:first-of-type) {
    margin-left: 2px;
  }
}
*/

/*
Animations
*/
.yt {
  animation-delay: 0.25s;
}
.tw {
  animation-delay: 0.5s;
}
.me {
  animation-delay: 0.75s;
}
.gh {
  animation-delay: 1s;
}
.faq {
  animation-delay: 1.25s;
}
.contact {
  animation-delay: 1.5s;
}
.computers {
  animation-delay: 1.75s;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes backgroundColour {
  0%  { background-color: #2baff7; }
  10% { background-color: #269dde; }
  20% { background-color: #228cc5; }
  30% { background-color: #1e7aac; }
  40% { background-color: #196994; }
  50% { background-color: #15577b; }
  60% { background-color: #196994; }
  70% { background-color: #1e7aac; }
  80% { background-color: #228cc5; }
  90% { background-color: #269dde; }
  100% { background-color: #2baff7; }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes rainbow {
  0% { color: #fafafa; }
  20% { color: #ff0000; }
  30% { color: #ff7f00; }
  40% { color: #ffdd00; }
  50% { color: #00ff00; }
  60% { color: #0000ff; }
  70% { color: #8a2be2; }
  80% { color: #c77df3; }
  100% { color: #fafafa; }
}
