@import '_vars';

@media screen and (max-width: 45em) {
  body {
    /*font-size: 1.15em;*/
    overflow-x: hidden;
    max-width: 20em;
    padding: 0.75em 0.75em 1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  /*h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.5em;
    }*/
  #header h1 {
    font-size: 3em;
    text-align: center;
  }

  #header h1,
  #header p {
    display: block;
  }

  #header #social-mnu {
    position: relative;
    float: none;
  }

  #header #menu-mnu {
    margin-top: 3em;
  }

  #header #menu-mnu,
  #header #social-mnu {
    text-align: center;
  }

  #header a {
    display: inline-block;
    width: 100%;
  }

  #header a:hover {
    background-color: $bg-dark;
  }

  li a {
    overflow-wrap: break-word;
  }

  #post-content {
    font-size: 1.15em;
  }
}
