---
layout: default
title: Post Archive (by category)
permalink: /archive/c/
description: All the posts I've ever posted, sorted into categories
smalltitle: usedesc
---

{% include ddg.html %}

{% for category in site.categories %}
    <div id="{{ category | first | remove:' ' }}" style="border-radius: 2px;">
        <h1 class="chead">{{ category | first }}</h1>

        <ul>
           {% for posts in category %}
             {% for post in posts %}
               {% if post.url %}
                {% unless post.hidden %}
                <li>
                  <h4>
                    {{ post.date | date: '%B %d, %Y' }}
                    {% if post.author %} by {% if post.authorlnk %}<a href="{{ post.authorlnk }}" target="_blank" rel="noopener noreferrer">{% endif %}{{ post.author }}{% if post.authorlnk %}</a>{% endif %}{% endif %}
                  </h4>
                  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                </li>
                {% else %}
                <li><h4>January 01, 1970</h4><h2><a href="#{{ post.category }}">This post has been hidden from the archives</a></h2></li>
                {% endunless %}
               {% endif %}
             {% endfor %}
           {% endfor %}
        </ul>
    </div>
{% endfor %}

<script>
if(window.location.hash) {
 document.getElementById(window.location.hash.replace('#', '')).style.background = '#002e59';
}
</script>
