---
layout: default
title: Post Archive (by category)
permalink: /archive/c/
description: All the posts I've ever posted, sorted into categories
smalltitle: usedesc
stylecsp: "'unsafe-inline'"
scripts:
  - '/js/pages/archive_c.js'
head:
  - <link href="/css/pages/archive.css" rel="stylesheet">
---

{% include search.html %}

{% assign scats = site.categories | sort %}

{% for category in scats %}
    <div id="{{ category | first | replace:' ','-' }}" style="border-radius: 2px; display: none;" class="category_group">

        <h1 class="chead">{{ category | first }}</h1>

           {% for posts in category %}
             {% for page in posts %}
             {% if page.url %}
                {% unless page.hidden %}
                <div class="post">
                        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                        <h4>
                          {{ page.date | date: '%B %d, %Y' }}
                          {% if page.category %} &bull; {% for c in page.category %}<a href="/archive/c/#{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
                        </h4>
                </div>
                {% else %}
                  <div class="post">
                          <h3>Mysterious</h3>
                          <h4>
                            This page has been hidden from the archives...
                          </h4>
                  </div>
                  {% endunless %}
                {% endif %}
             {% endfor %}
           {% endfor %}
    </div>
{% endfor %}

<h4 id="js_message"></h4>

<noscript>
  <style media="screen">
    .category_group {
      display: block !important;
    }
  </style>
</noscript>
