---
layout: default
title: Post Archive
permalink: /archive/
description: All the posts I've ever posted
smalltitle: usedesc
---

{% include search.html %}

<ul>
  {% for post in site.posts %}
    {% unless post.hidden %}
      <li>
        <h4>
          {{ post.date | date: '%B %d, %Y' }}
          in {% for c in post.category %}<a href="/archive/c/#{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
          {% if post.author %} by {% if post.authorlnk %}<a href="{{ post.authorlnk }}" target="_blank" rel="noopener noreferrer">{% endif %}{{ post.author }}{% if post.authorlnk %}</a>{% endif %}{% endif %}
        </h4>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </li>
    {% endunless %}
  {% endfor %}
</ul>


<script>
if(window.location.hash) {
 document.location = '/archive/c/' + window.location.hash;
}
</script>
