* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  text-transform: lowercase;
  background-color: #eee;
  color: #222;
}

#container {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 30px;
}


#githublink {
  position: fixed;
  top: 0px;
  background-color: #4183c4;
  color: #fff;
  height: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*
github link
*/
@media screen and (min-width: 500px) {
  #githublink {
      right: 10%;
  }
}
@media screen and (max-width: 499px) {
  #githublink {
      right: 0px;
  }
}


/*
menu
*/
#menu a {
  color: #000;
  font-size: 100%;
  -webkit-transition:  1s, font-size 1s;
  -moz-transition: color 1s, font-size 1s;
  -o-transition: color 1s, font-size 1s;
  transition: color 1s, font-size 1s;
}

#menu a:hover {
  font-size: 110%;

}

#menu a.yt:hover {
  color: #cd201f
}

#menu a.tw:hover {
  color: #55acee;
}

#menu a.gh:hover {
  color: #333333
}
