/*
* Wing 1.0.0-beta
* Copyright 2016, Kabir Shah
* http://usewing.ml/
* Free to use under the MIT license.
* https://kingpixil.github.io/license
*/
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row p {
  margin: 0;
  line-height: 1.1em;
}

.row > :first-child {
  margin-left: 0;
}

.row > :last-child {
  margin-right: 0;
}

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col,
[class*=" col-"],
[class^='col-'] {
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .col,
  [class*=" col-"],
  [class^='col-'] {
    margin: 3em 0 0;
    flex: 0 0 100%;
  }
}
