<head>
    <!-- Boring Meta Stuff -->
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000d19">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- Search Engine Meta -->
    <meta name="robots" content="index, follow">
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% else %}<meta name="author" content="dnomaid">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description}}">{% endif %}
    <meta name="keywords" content="dnomaid, mrdnomaid, diamond, pigman, website, site, social, media, links, {{ page.keywords | escape }}">
    <!-- Open Graph  -->
    {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
    {% if page.image %}
    <meta property="og:image" content="https://dnomaid.co.uk/img/posts/{{ page.title }}/{{ page.image }}">
    {% else %}
    <meta property="og:image" content="https://dnomaid.co.uk/img/fish_large.png">
    {% endif %}
    <!-- Twitter -->
    {% if page.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mrdnomaid" />
    <meta name="twitter:title" content="{{ page.title | escape }}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
    <meta name="twitter:image" content="https://dnomaid.co.uk/img/posts/{{ page.title }}/{{ page.image }}" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@mrdnomaid" />
    <meta name="twitter:title" content="{{ page.title | escape }}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
    <meta name="twitter:image" content="https://dnomaid.co.uk/img/fish_large.png" />
    {% endif %}
    <!-- CSS & Icons -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    {% if page.layout == 'post' %}<link href="/css/frameworks/wing-col.css" rel="stylesheet">{% endif %}
    {% if page.extrahead %}{{ page.extrahead }}{% endif %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/fish_large.png">
    <!-- Page Title -->
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
</head>

<body>
  <div id="gubbins">
    <h1><a href="/" title="Home">dnomaid</a></h1>
    <p>
      <a href="{{ site.youtube }}" class="social-lnk youtube" title="YouTube"><i class="fa fa-youtube fa-fw"></i> YouTube</a><br>
      <a href="{{ site.twitter }}" class="social-lnk twitter" title="Twitter"><i class="fa fa-twitter fa-fw"></i> Twitter</a><br>
      <a href="{{ site.github }}" class="social-lnk github" title="GitHub"><i class="fa fa-github fa-fw"></i> GitHub</a><br>
      <a href="/faq/" class="page-lnk faq" title="Frequently Asked Questions"><i class="fa fa-info fa-fw"></i> FaQ</a><br>
      <a href="/about/" class="page-lnk abo" title="About"><i class="fa fa-person fa-fw"></i> About</a>
    </p>

    {% if page.title == 'Home' %}
    <p>
      <a href="/feed.xml"><i class="fa fa-rss fa-fw"></i> RSS</a><br>
      <a href="/archive/"><i class="fa fa-folder fa-fw"></i> Archive</a>
    </p>
    {% endif %}

    {% if page.layout == 'post' %}
    <p>
    {% if page.next.url %}<a href="{{page.next.url}}">Next Post &raquo;</a>{% endif %}
    {% if page.next.url and page.previous.url %}<br>{% endif %}
    {% if page.previous.url %}<a href="{{page.previous.url}}">&laquo; Last Post</a>{% endif %}
    </p>

    <p><a onclick="document.getElementById('sharelnks').style.display = 'block'; document.getElementById('sharebtn').style.display = 'none';" id="sharebtn" style="cursor: pointer;" title="Share" href="javascript:void(0)"><i class="fa fa-share fa-fw"></i> Share</a></p>
    <p style="display: none;" id="sharelnks"><a style="color: #55acee" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}%20via%20%40mrdnomaid" target="_blank">Twitter</a><br><a style="color: #ff4500" href="//www.reddit.com/submit?url={{ site.url }}{{ page.url }}" target="_blank">Reddit</a><br><a href="mailto:?subject={{ site.url }}{{ page.url }}">Email</a></p>
    {% endif %}
  </div>
