<head>
    <!-- Boring Meta Stuff -->
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000d19">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- Search Engine Meta -->
    <meta name="robots" content="index, follow">
    <meta name="author" content="dnomaid" />
    <meta name="description" content="{{ page.description | escape }}">
    <meta name="keywords" content="dnomaid, mrdnomaid, diamond, pigman, website, site, social, media, links, {{ page.keywords | escape }}">
    <!-- Open Graph  -->
    <meta property="og:description" content="{{ page.description | escape }}" />
    {% if page.image %}
    <meta property="og:image" content="https://dnomaid.co.uk/img/posts/{{ page.title }}/{{ page.image }}">
    {% else %}
    <meta property="og:image" content="https://dnomaid.co.uk/img/fish_large.png">
    {% endif %}
    <!-- Twitter -->
    {% if page.image %}
	<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://dnomaid.co.uk/img/posts/{{ page.title }}/{{ page.image }}" />
    {% else %}
	<meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="https://dnomaid.co.uk/img/fish_large.png" />
    {% endif %}
	<meta name="twitter:site" content="@mrdnomaid" />
    <meta name="twitter:title" content="{{ page.title | escape }} - {{ site.title | escape }}" />
    <meta name="twitter:description" content="{{ page.description | escape }}" />
    <!-- CSS & Icons -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    {% if page.extrahead %}{{ page.extrahead }}{% endif %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/img/fish_large.png">
    <!-- Page Title -->
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
</head>

<body>
  <div style="text-align: center;" id="header">
      <h1>dnomaid</h1>
      <p><a href="{{ site.youtube }}" class="social-lnk yt"><i class="fa fa-youtube fa-fw youtube"></i> YouTube</a>
      <a href="{{ site.twitter }}" class="social-lnk tw"><i class="fa fa-twitter fa-fw twitter"></i> Twitter</a>
      <a href="{{ site.github }}" class="social-lnk gh"><i class="fa fa-github fa-fw github"></i> GitHub</a></p>
      <p><a href="/" class="page-lnk hme"><i class="fa fa-home fa-fw"></i> Home</a>
      <a href="/faq.html" class="page-lnk faq"><i class="fa fa-info fa-fw"></i> FaQ</a>
      <a href="/devices.html" class="page-lnk dev"><i class="fa fa-laptop fa-fw"></i> Devices</a>
      <a href="/about.html" class="page-lnk abo"><i class="fa fa-person fa-fw"></i> About</a>
      <a onclick="alert('My email is simply {{ site.email }}. If you are a YouTube MCN, web design company, con-artist or anything similar, there\'s no point emailing me; I\'m not interested.');" href="#" class="page-lnk con"><i class="fa fa-mail fa-fw"></i> Contact</a></p>
  </div>
