<figure class="image">
  <img src="

  {% if page.layout == 'post' %}
    {% if include.path contains '/' %}
      {{ include.path | replace: ' ', '%20' }}
    {% else %}
      /img/posts/{{ page.title | replace: ' ', '%20' }}/{{ include.path | replace: ' ', '%20' }}
    {% endif %}
  {% else %}
    {{ include.path | replace: ' ', '%20' }}
  {% endif %}

" alt="{{ include.caption | escape }}" class="{% if include.float %}float{% endif %} {% if include.caption %}has-caption{% endif %}">
  {% if include.caption or include.credit %}<figcaption>{% if include.caption %}{{ include.caption }}{% endif %}{% if include.credit %}<br>Source: {{ include.credit }}{% endif %}</figcaption>{% endif %}
</figure>
