<aside id="meta" {% if page.image and page.layout == 'post' %}class="has-image"{% endif %}>
    {% if page.layout == 'post' %}
      <h2 id="date">
        Posted on {{ page.date | date_to_long_string: 'ordinal' }}
        {% if page.category %} in {% for c in page.category %}<a href="/blog/archive/{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
        <span id="js-viewcount">with # views</span>
      </h2>
  
      {% if page.medium %}
        <div class="note medium">
           <p>This post was originally published on Medium. View the original post, along with its "claps" and comments, <a href="{{ page.medium }}">here</a></p>
        </div>
      {% endif %}
  
      <!--
        This shows up if you set "outdated" to anything in the front matter. Doesn't need to be "true"
      -->
      {% if page.outdated %}
        {% include note.html class="warn" content="This post has been manually flagged as outdated. The content is no longer accurate." %}
      {% endif %}
  
      {% if page.info %}
        <div class="note info">
          <p>{{ page.info }}</p>
        </div>
      {% endif %}
    {% endif %}
  
    {% if page.image and page.layout == 'post' %}
    {% include post_img_folder.html %}
      <img id="image" src="/img/posts/{{ post_img_folder }}/{{page.image}}"></img>
    {% endif %}
  
    <h1 id="title" {% if page.keepcase %} class="keepcase" {% endif %}>{{ page.title }}</h1>
    {% if page.desc or page.description %}
      <h2 id="desc" {% if page.keepcase %} class="keepcase" {% endif %}>{% if page.desc %}{{ page.desc }}{% elsif page.description %}{{ page.description }}{% endif %}</h2>
    {% endif %}
  </aside>