  <!--
    In front-matter, you can use
    medium: https://medium.com/foo/bar
    to make this thing appear
  -->
  {% if page.medium %}
    {% assign mlink = {{ page.medium }} %}
    {% include note.html class="medium" content="This post was originally published on Medium.<br>View the original post, along with its claps and comments, " link=mlink linktext="here." %}
  {% endif %}

  <!--
  I think you can do this in the FM:
  info:
    - abc
    - def
  but I haven't tested that.
  -->
  {% if page.info %}
    {% assign pinfo = {{ page.info }} %}
    {% include note.html class="info" content=info %}
  {% endif %}

  <!--
    This shows up if you set "outdated" to anything in the front matter. Doesn't need to be "true"
  -->
  {% if page.outdated %}
    {% include note.html class="warn" content="This post has been manually flagged as outdated;<br>The content is no longer accurate." %}
  {% endif %}


  {% capture unix %}{{ 'now' | date: '%s' }}{% endcapture %}
  {% capture postedat %}{{ page.date | date: '%s' }}{% endcapture %}

  <!-- Debug -->
  <!-- <h1>{{ unix }}</h1>
  <h1>{{ postedat }}</h1>
  <h1>{{ unix | minus: postedat }}</h1> -->

  <!-- 31104000 seconds is 1 year-ish, good enough for the warning -->
  {% if unix | minus: postedat >= 31104000 %}
    {% if page.category contains 'tutorial' or page.category contains 'review' %}
      {% unless page.outdated %}
        {% include note.html class="warn" content="This post is over a year old;<br>The content may no longer be accurate." %}
      {% endunless %}
    {% endif %}
  {% endif %}

  {% if page.image %}
    <div id="featured-img"><img src="
      {% if page.image contains '/' %}
        {{ page.image | uri_escape }}
      {% else %}
        /img/posts/{{ page.title | uri_escape }}/{{ page.image | uri_escape }}
      {% endif %}
      " alt="{{ page.image }}"></div>
  {% endif %}

  <div {% if page.image %}class="post-meta-text-up"{% endif %}>
    <h4>
      {{ page.date | date: '%B %d, %Y' }}
      in {% for c in page.category %}<a href="/archive/c/#{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
      {% if page.author %} by {% if page.authorlnk %}<a href="{{ page.authorlnk }}" target="_blank" rel="noopener noreferrer">{% endif %}{{ page.author }}{% if page.authorlnk %}</a>{% endif %}{% endif %}
    </h4>
    <h2>{{ page.title }}</h2>
    {% if page.description %}
      <h4>{{ page.description }}</h4>
    {% endif %}

    <!-- TODO: Shoehorn weird "word count" or "reading time" thing in here. Maybe only add this once useful things start being posted.  -->
  </div>
