<div style="margin-bottom: 2em;">

  {% if page.medium %}
  <div class="post-notice info medium">
    <p style="margin-top: 0;">This post was originally published on Medium.<br>View the original post, along with its claps and comments, <a href="{{ page.medium }}">here</a>.</p>
  </div>
  {% endif %}

  {% if page.info %}
  <div class="post-notice info">
    <p style="margin-top: 0;">{{ page.info }}</p>
  </div>
  {% endif %}

  {% if page.outdated %}
  <div class="post-notice warn">
    <p style="margin-top: 0;">This post has been flagged as outdated.<br>Please note that the content may no longer be accurate.</p>
  </div>
  {% endif %}


  <h4>
    {{ page.date | date: '%B %d, %Y' }}
    {% if page.multiplecats == true %}in <a href="/archive/c/#{{ page.category | first | remove:' ' }}">{{ page.category | first }}</a>{% if page.category | last %}, <a href="/archive/c/#{{ page.category | last | remove:' ' }}">{{ page.category | last }}</a>{% endif %}{% else %}in <a href="/archive/c/#{{ page.category | remove:' ' }}">{{ page.category }}</a>{% endif %}
    {% if page.author %} by {% if page.authorlnk %}<a href="{{ page.authorlnk }}" target="_blank" rel="noopener noreferrer">{% endif %}{{ page.author }}{% if page.authorlnk %}</a>{% endif %}{% endif %}
  </h4>
  <h2>{{ page.title }}</h2>
  {% if page.description %}
    <h4>{{ page.description }}</h4>
    {% else %}
    <h4>&nbsp;</h4>
  {% endif %}

  {% if page.image %}
    <div id="featured-img"><img src="/img/posts/{{ page.title }}/{{ page.image }}" alt="{{ page.image }}"></div>
  {% endif %}
</div>
