<aside id="sidebar">
<div id="sidebar-top">
  <img src="/img/blondtommo_smol.webp" alt="blond tommo" id="babby" onerror="this.src = '/img/blondtommo_smol.png'" onclick="window.location = '/';" style="cursor: pointer;">

  <h1>Hello! <img src="/img/twemoji-peace.webp" onerror="this.src = '/img/twemoji-peace.png'" alt="✌🏻" draggable="false" id="hello-emoji"></h1>
  <h2>I'm Tom.</h2>
</div>


<a href="#" class="menu-toggle" id="menu-toggle-open" onclick="openMenu();"><i class="fas fa-fw fa-chevron-down"></i> Open Menu</a>
<a href="#" class="menu-toggle" id="menu-toggle-close" onclick="closeMenu();" style="display: none;"><i class="fas fa-fw fa-chevron-up"></i> Close Menu</a>

<nav>
  <ul>
    <li>
      <a href="https://twitter.com/{{ site.twitter }}" id="twitter"><i class="fab fa-fw fa-twitter"></i> Twitter</a><br>
    </li>
    <li>
      <a href="https://github.com/{{ site.github }}" id="github"><i class="fab fa-fw fa-github"></i> GitHub</a><br>
    </li>
    <li>
      <a href="/flickr/" id="flickr" class="f{% if page.url == '/flickr/' %} c{% endif %}"><i class="fab fa-fw fa-flickr"></i> Flickr</a><br>
    </li>
    <!-- <li>
      <a href="https://youtube.com/{{ site.youtube }}" id="youtube"><i class="fab fa-fw fa-youtube"></i> YouTube</a><br>
    </li> -->
    <!-- <li>
      <a href="https://keybase.io/{{ site.keybase }}" id="keybase"><i class="fab fa-fw fa-keybase"></i> Keybase</a><br>
    </li> -->
  </ul>
  <ul>
    <li>
      <a href="/about/" id="about" {% if page.url == '/about/' %}class="c"{% endif %}><i class="far fa-fw fa-address-book"></i> About Me</a><br>
    </li>
    <li>
      <a href="/projects/" id="projects" {% if page.url == '/projects/' %}class="c"{% endif %}><i class="fas fa-fw fa-wrench"></i> Projects</a><br>
    </li>
    <!-- <li>
      <a href="/blog/" id="blog" {% if page.url == '/blog/' or page.layout == 'post' %}class="c"{% endif %}><i class="fas fa-fw fa-pencil-alt"></i> Blog</a>
    </li> -->
  </ul>

  {% if page.url contains '/flickr' %}
    <ul>
      <li class="menu-title"><i class="fab fa-fw fa-flickr"></i> Flickr Toys:</li>
      <li>
        <a href="/flickr/photosets/" class="f{% if page.url == '/flickr/photosets/' %} c{% endif %}"><i class="fas fa-fw fa-list"></i> Albums</a><br>
      </li>
      <li>
        <a href="/flickr/photos/" class="f{% if page.url == '/flickr/photos/' %} c{% endif %}"><i class="fas fa-fw fa-images"></i> Photos</a><br>
      </li>
      <li>
        <a href="/flickr/map/" class="f{% if page.url == '/flickr/map/' %} c{% endif %}"><i class="fas fa-fw fa-map-marked"></i> Map</a><br>
      </li>
      <li>
        <a href="/flickr/map/stations/" class="f{% if page.url == '/flickr/map/stations/' %} c{% endif %}"><i class="fas fa-fw fa-train"></i> Stn Map</a>
      </li>
    </ul>
  {% endif %}
</nav>
</aside>
