<aside id="sidebar">
<div id="sidebar-top">
  <a href="/" id="sidebar-top-link" draggable="false">
    <img src="/img/blondtommo_smol.webp" alt="blond tommo" id="babby" onerror="this.src = '/img/blondtommo_smol.png'">

    <h1>Hello! <img src="/img/twemoji-peace.webp" onerror="this.src = '/img/twemoji-peace.png'" alt="✌🏻" draggable="false" id="hello-emoji"></h1>
    <h2>I'm Tom.</h2>
  </a>
</div>


<a href="#" class="menu-toggle" id="menu-toggle-open" onclick="openMenu();"><i class="fas fa-fw fa-chevron-down"></i> Open Menu</a>
<a href="#" class="menu-toggle" id="menu-toggle-close" onclick="closeMenu();" style="display: none;"><i class="fas fa-fw fa-chevron-up"></i> Close Menu</a>

<nav>
  <ul>
    <li>
      <a href="/about/" id="menu-about" {% if page.url == '/about/' %}class="c"{% endif %}><i class="fas fa-fw fa-user"></i> About Me</a><br>
    </li>
    <li>
      <a href="/projects/" id="menu-projects" {% if page.url == '/projects/' %}class="c"{% endif %}><i class="fas fa-fw fa-magic"></i> Projects</a><br>
    </li>
    <!-- <li>
      <a href="/blog/" id="blog" {% if page.url == '/blog/' or page.layout == 'post' %}class="c"{% endif %}><i class="fas fa-fw fa-pencil-alt"></i> Blog</a>
    </li> -->
  </ul>

  <ul>
    <li>
      <a href="https://twitter.com/{{ site.twitter }}" id="menu-twitter"><i class="fas fa-fw fa-dove"></i> Twitter</a><br>
    </li>
    <li>
      <a href="https://github.com/{{ site.github }}" id="menu-github"><i class="fas fa-fw fa-file-code"></i> GitHub</a><br>
    </li>
    <li>
      <a href="/flickr/" id="menu-flickr" {% if page.url contains '/flickr' %}class="c"{% endif %}><i class="fas fa-fw fa-camera-retro"></i> Flickr</a><br>
    </li>
    <!-- <li>
      <a href="https://youtube.com/{{ site.youtube }}" id="menu-youtube"><i class="fab fa-fw fa-youtube"></i> YouTube</a><br>
    </li> -->
    <!-- <li>
      <a href="https://keybase.io/{{ site.keybase }}" id="menu-keybase"><i class="fab fa-fw fa-keybase"></i> Keybase</a><br>
    </li> -->
  </ul>
</nav>
</aside>
