<div id="sidebar-top">
  <img src="/img/beachtommo.png" alt="beachtommo.png" id="babby" onclick="window.location = '/';" style="cursor: pointer;">

  {% if page.permalink == '/' %}
    <h1>Hello! <img src="/img/twemoji-wave.png" alt="👋" draggable="false"></h1>
    <h2>I'm Tom.</h2>
  {% else %}
    <h1>Thomas</h1>
    <h2>Robinson</h2>
  {% endif %}
</div>


<a href="#" class="menu-toggle" id="menu-toggle-open" onclick="openMenu();"><i class="fas fa-fw fa-chevron-down"></i> Open Menu</a>
<a href="#" class="menu-toggle" id="menu-toggle-close" onclick="closeMenu();" style="display: none;"><i class="fas fa-fw fa-chevron-up"></i> Close Menu</a>

<nav>
  <a href="https://twitter.com/mrdnomaid" id="twitter"><i class="fab fa-fw fa-twitter"></i> Twitter</a><br>
  <a href="https://github.com/mrdnomaid" id="github"><i class="fab fa-fw fa-github"></i> GitHub</a><br>
  <a href="https://photos.trobinson.me" id="flickr"><i class="fab fa-fw fa-flickr"></i> Flickr</a><br>
  <!-- <a href="https://youtube.com/dnomaid" id="youtube"><i class="fab fa-fw fa-youtube"></i> YouTube</a><br> -->
  <a href="https://keybase.io/dnomaid" id="keybase"><i class="fab fa-fw fa-keybase"></i> Keybase</a><br><br>

  <a href="/about/" id="about" {% if page.url == '/about/' or page.url == '/faq/' or page.url == '/tech/' %}class="c"{% endif %}><i class="fas fa-fw fa-male"></i> About</a><br>
  {% if page.url == '/blog/' or page.layout == 'post' %}<a href="/blog/" id="blog" class="c"><i class="fas fa-fw fa-pencil-alt"></i> Blog</a><br>{% endif %}
  <a href="/projects/" id="projects" {% if page.url == '/projects/' %}class="c"{% endif %}><i class="fas fa-fw fa-code"></i> Projects</a><br>
  <a href="javascript:contactAlert();" id="contact"><i class="fas fa-fw fa-envelope"></i> Contact</a>

  {% if page.previous or page.next and page.layout == 'post' %}
    <br><br>
  {% endif %}

  {% if page.previous and page.layout == 'post' %}
    <a href="{{ page.previous.url }}"><i class="fas fa-fw fa-angle-double-left"></i> Last Post</a><br>
  {% endif %}

  {% if page.next and page.layout == 'post' %}
    <a href="{{ page.next.url }}"><i class="fas fa-fw fa-angle-double-right"></i> Next Post</a><br>
  {% endif %}
</nav>
