@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  to {
    visibility: hidden; } }
@keyframes slideInDown {
  0% {
    transform: translateY(-150%); }
  100% {
    transform: none; } }
@keyframes slideInUp {
  0% {
    transform: translateY(150%); }
  100% {
    transform: none; } }
body {
  background-color: #0E1851;
  color: #999;
  font-family: 'Cabin';
  margin: 0;
  overflow-x: hidden; }

aside {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  aside h1 {
    color: #EC633C;
    cursor: default;
    animation: fadeIn 1s ease-out;
    animation-fill-mode: forwards;
    font-size: 25vw;
    line-height: 1em;
    transition: opacity 1s; }
  aside h1 span {
    display: block; }
  aside h1 span#t {
    animation: slideInDown 1s ease-out;
    animation-fill-mode: forwards; }
  aside h1 span#r {
    animation: slideInUp 1s ease-out;
    animation-fill-mode: forwards; }

main {
  position: absolute;
  top: 100%;
  background-color: #EC633Cbb;
  color: #0E1851;
  padding: 1em;
  width: calc(100% - 2em); }
  main a.col {
    background-color: #0E1851;
    color: #EC633C;
    padding: 8px 0;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    border-radius: 4px; }
  main a.col:hover {
    transform: scale(1.1); }
  main a.col:focus {
    transform: scale(0.9); }

nav,
section#about {
  margin: 0 auto;
  max-width: 50em; }

section#quote {
  text-align: center;
  cursor: default; }
  section#quote p {
    font-size: 0.8em;
    font-style: italic; }
    section#quote p i {
      padding: 2px;
      background-color: #0E1851;
      color: #EC633C;
      border-radius: 2px; }

a#scroller {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  text-decoration: none;
  color: #EC633C;
  background-color: #0E1851bb;
  font-size: 1.1em;
  animation: slideInUp 1s ease-out;
  animation-fill-mode: forwards;
  transition: all 0.2s; }

/*
* Wing 1.0.0-beta
* Copyright 2016, Kabir Shah
* http://usewing.ml/
* Free to use under the MIT license.
* https://kingpixil.github.io/license
*/
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.row p {
  margin: 0;
  line-height: 1.1em; }

.row > :first-child {
  margin-left: 0; }

.row > :last-child {
  margin-right: 0; }

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.col,
[class*=" col-"],
[class^='col-'] {
  margin: 1rem; }

@media screen and (max-width: 768px) {
  .col,
  [class*=" col-"],
  [class^='col-'] {
    margin: 3em 0 0;
    flex: 0 0 100%; } }
