---
layout: default
title: Blog Archive
permalink: /blog/archive/
description: All the posts I've ever posted
redirect_from:
  - /archive/
  - /archive/by-category/
  - /archive/c/
---

{% for page in site.posts %}
  {% unless page.hidden %}
  <div class="post">
          <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
          {% if page.description %}
            <h3>{{ page.description }}</h3>
          {% endif %}
          <h4>
            {{ page.date | date_to_long_string: 'ordinal' }}
            {% if page.category %} &bull; {% for c in page.category %}<a href="/blog/archive/{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
          </h4>
  </div>
  {% endunless %}
{% endfor %}

<p style="margin-top: 8px; text-align: right;">
  If you really want, you can subscribe to the <a href="/blog/feed.xml"><i class="fas fa-fw fa-rss"></i> RSS feed &raquo;</a>
</p>
