---
layout: default
wide: ish
title: Projects & Things
description: Neat stuff I've made, done and created
permalink: /projects/
head:
  - <link href="/css/pages/projects.css" rel="stylesheet">
---

<ul id="projects">
    {% for p in site.projects %}
        <li class="project">
            <img class="project-image" src="/img/projects/{{p.image}}" alt="Screenshot of {{p.title}}">
            <a {% if p.title_link %}href="{{ p.title_link | replace: "#GITHUB#", site.github }}" target="_blank" rel="noopener noreferrer"{% endif %} class="project-title">
            {{ p.title }}</a>
            <span class="project-langs">
                {% for lang in p.languages %}
                    {% if forloop.index0 != 0 %}&bull;{% endif %}
                    {{ lang }}
                {% endfor %}
                {% for link in p.links %}
                    &mdash; {{ link | replace: "#GITHUB#", site.github }}
                {% endfor %}
            </span>
            <p>{{ p.content | strip_html }}</p>
        </li>
    {% endfor %}
</ul>

<hr>

<h3>Looking for something not listed here?</h3>
<p>It might be floating around on my <a href="https://github.com/{{ site.github }}">GitHub</a>!</p>