ul#projects {
  list-style: none;
  padding: 0;
}

li.project {
  display: block;
  width: 100%;
}

li.project:not(:first-of-type) {
  margin-top: 24px;
}

li.project a.project-title, li.project span {
  display: block;
}

li.project a.project-title {
  font-size: 1.3em;
}

li.project span {
  font-size: 0.8em;
  opacity: 0.8;
}

li.project img {
  float: left;
  height: 5em;
  width: auto;
  margin: 0 16px 16px 0;
}

@media screen and (max-width: 70em) {
  li.project img {
    float: none;
    display: block;
    height: 6em;
    margin: 0 0 8px 0;
  }
}