ul#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

li.project {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: calc(40% - 2px);
    position: relative;
    overflow: hidden;
    padding: 16px 4%;
    margin: 8px 1%;
    border: 1px solid #fff;
    border-radius: 8px;
}

li.project img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    filter: blur(2px);
}

li a.project-title, li.project span.project-langs, li.project p {
    z-index: 2;
}

li a.project-title {
    display: block;
    font-size: 2em;
    color: inherit;
    transition: color 0.2s;
}

li a.project-title[href]:hover {
    color: skyblue;
}

li.project span.project-langs {
    opacity: 0.8;
    margin-bottom: 4px;
}

li.project span.project-langs span.lang {
    display: inline-block;
    margin: 0 2px;
}

@media screen and (max-width: 70em) {
    li.project {
      flex: 100%;
      margin: 24px 0;
    }

    li.project img {
        margin-bottom: 8px;
    }
  }
  