.col.d h3 {
  margin-bottom: 4px;
}

.col.d p:first-of-type {
  margin-bottom: 16px;
}

.col.d ul {
  list-style: none;
}

.col.d li {
  position: relative;
  left: 0;
  margin: 0;
}

.col.d li ul {
  position: relative;
  left: 16px;
  font-size: 0.9em;
}
