---
layout: compress
---
<!DOCTYPE html>
<html lang="en-GB">

{% include head.html %}

<main>
  <aside>
    <h1 id="title" {% unless page.subtitle or page.smalltitle %}style="margin-bottom: 12px;"{% endunless %}>{% if page.showas %}{{ page.showas }}{% else %}{{ page.title }}{% endif %}</h1>

    {% if page.subtitle %}
      {% if page.subtitle == 'usedesc' %}
        <h2 id="subtitle" {% unless page.smalltitle %}style="margin-bottom: 12px;"{% endunless %}>{{ page.description }}</h2>
      {% else %}
        <h2 id="subtitle" {% unless page.smalltitle %}style="margin-bottom: 12px;"{% endunless %}>{{ page.subtitle }}</h2>
      {% endif %}
    {% endif %}

      {% if page.smalltitle %}
      {% if page.smalltitle == 'usedesc' %}
        <h4 id="smalltitle" style="margin-bottom: 12px;">{{ page.description }}</h4>
      {% else %}
        <h4 id="smalltitle" style="margin-bottom: 12px;">{{ page.smalltitle }}</h4>
      {% endif %}
    {% endif %}
  </aside>


  {% unless page.permalink == '/' or page.permalink == '/archive/' or page.permalink == '/archive/c/' %}<article>{% endunless %}
    {{ content }}
  {% unless page.permalink == '/' or page.permalink == '/archive/' or page.permalink == '/archive/c/' %}</article>{% endunless %}
</main>

{% include scripts.html %}

</body>
</html>
