---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  <aside id="sidebar">
    {% include sidebar.html %}
  </aside>

  <main>
      {% comment %} Don't show the page title on the homepage {% endcomment %}
      {% if page.permalink != '/' %}
        <aside id="meta" {% if page.image and page.layout == 'post' %}class="has-image"{% endif %}>
          {% if page.layout == 'post' %}
            <h2 id="date">
              Posted on {{ page.date | date: '%B %d, %Y' }}
              {% if page.category %} in {% for c in page.category %}<a href="/archive/c/#{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
            </h2>

            {% if page.medium %}
              <div class="note medium">
                 <p>This post was originally published on Medium.<br>View the original post, along with its "claps" and comments, <a href="{{ page.medium }}">here</a></p>
              </div>
            {% endif %}

            <!--
              This shows up if you set "outdated" to anything in the front matter. Doesn't need to be "true"
            -->
            {% if page.outdated %}
              {% include note.html class="warn" content="This post has been manually flagged as outdated.<br>The content is no longer accurate." %}
            {% endif %}

            <!--
            I think you can do this in the FM:
            info:
              - abc
              - def
            but I haven't tested that.
            -->
            {% if page.info %}
              <div class="note info">
                <p>{{ page.info }}</p>
              </div>
            {% endif %}
          {% endif %}

          {% if page.image and page.layout == 'post' %}
          <img id="image" src="/img/posts/{{ page.title | replace: ' ', '%20' }}/{{page.image}}">
          </img>
          {% endif %}

          <h1 id="title">{{ page.title }}</h1>
          <h2 id="desc">{% if page.desc %}{{ page.desc }}{% elsif page.description %}{{ page.description }}{% endif %}</h2>
        </aside>
      {% endif %}

      {{ content }}
  </main>

  {% include footer.html %}
</body>

</html>
