---
layout: compress
---

<!DOCTYPE html>
<html lang="en-GB">

<head>
  {% include head.html %}
</head>


<body class="{% if page.wide == 'ish' %}wide-ish{% elsif page.wide %}wide{% endif %} {% if page.url == '/' %}is-home{% endif %}">
  <aside id="topbar"></aside>

  <aside id="sidebar">
    {% include sidebar.html %}
  </aside>

  <main>
      {% comment %} Don't show the page title on the homepage {% endcomment %}
      {% if page.permalink != '/' %}
        <aside id="meta" {% if page.image and page.layout == 'post' %}class="has-image"{% endif %}>
          {% if page.layout == 'post' %}
            <h2 id="date">
              Posted on {{ page.date | date_to_long_string: 'ordinal' }}
              {% if page.category %} in {% for c in page.category %}<a href="/archive/c/#{{ c | replace: ' ','-'}}">{{ c }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
              <span id="js-viewcount">with # views</span>
            </h2>

            {% if page.medium %}
              <div class="note medium">
                 <p>This post was originally published on Medium.<br>View the original post, along with its "claps" and comments, <a href="{{ page.medium }}">here</a></p>
              </div>
            {% endif %}

            <!--
              This shows up if you set "outdated" to anything in the front matter. Doesn't need to be "true"
            -->
            {% if page.outdated %}
              {% include note.html class="warn" content="This post has been manually flagged as outdated.<br>The content is no longer accurate." %}
            {% endif %}

            <!--
            I think you can do this in the FM:
            info:
              - abc
              - def
            but I haven't tested that.
            -->
            {% if page.info %}
              <div class="note info">
                <p>{{ page.info }}</p>
              </div>
            {% endif %}
          {% endif %}

          {% if page.image and page.layout == 'post' %}
          {% include post_img_folder.html %}
          <img id="image" src="/img/posts/{{ post_img_folder }}/{{page.image}}">
          </img>
          {% endif %}

          <h1 id="title">{{ page.title }}</h1>
          <h2 id="desc">{% if page.desc %}{{ page.desc }}{% elsif page.description %}{{ page.description }}{% endif %}</h2>
        </aside>
      {% endif %}

      {{ content }}

      {% if page.layout == 'post' %}
        <hr>
        <p style="font-style: italic;">Got a comment, a query or some other feedback? I don't have a comments section, but feel free to <a href="https://twitter.com/mrdnomaid">Tweet me</a>!</p>
      {% endif %}
  </main>

  {% include footer.html %}
</body>

</html>
